<main class="w-full flex justify-center">
    <div class="w-[1000px] mx-[20px] px-[5px] bordergradient shadow-lg shadow-black overflow-hidden">
        <div class="w-full bg-white p-[30px]">
            <div class="text-[20px]">My Cart</div>
        </div>
    </div>
</main>