<main class="w-full flex justify-center">
    <div class="w-[1000px] mx-[20px] px-[5px] bordergradient shadow-lg shadow-black overflow-hidden">
        <div class="w-full bg-white p-[30px]">
            <div class="text-[20px]">Customer Registration</div>
            <div class="my-[15px]"><h3 class="w-fit cursor-pointer text-gray-500 hover:border-b-[1px] hover:border-gray-500"><a href="/login">Already a registered user? Go to login</a></h3></div>
            <form method="post" class="w-full" id="form">
                <div class="w-full flex flex-row my-[20px]">
                    <div class="bordergradient w-full h-[43px] overflow-hidden">
                        <input type="text" id="fname" placeholder="First Name" name="fname" class="formfield h-[40px]" required>
                    </div>
                    <div class="bordergradient w-full ml-[10px] h-[43px] overflow-hidden">
                        <input type="text" id="lname" placeholder="Last Name" name="lname" class="formfield h-[40px]" required>
                    </div>
                </div>
                <div class="bordergradient w-full h-[43px] overflow-hidden my-[20px]">
                    <input type="email" id="email" placeholder="Email-ID" name="email" class="formfield h-[40px]" required>
                </div>
                <div class="w-full flex flex-row my-[20px]">
                    <div class="bordergradient w-full h-[43px] overflow-hidden">
                        <input type="password" id="password" placeholder="Password" name="password" class="formfield h-[40px]" oninput="passwordRetype()" required>
                    </div>
                    <div class="ml-[10px] w-full" id="retype">
                        <div class="bordergradient h-[43px] overflow-hidden">
                            <input type="password" id="rpassword" placeholder="Retype Password" class="formfield h-[40px]" oninput="passwordRetype()" required>
                        </div>
                    </div>
                </div>
                <div id="nextpart"></div>
            </form>
        </div>
    </div>
</main>