<main class="w-full flex justify-center my-[20px]">
    <div class="bg-[#1F1E1E] p-[20px] w-[1000px] flex flex-col items-center text-white shadow-lg shadow-black">
        <div class="text-[20px]">Customer Registration</div>
        <div class="my-[15px] w-full text-left"><h3 class="w-fit cursor-pointer text-gray-500 hover:border-b-[1px] hover:border-gray-400 hover:text-gray-400"><a href="/login">Already a registered user? Go to login</a></h3></div>
        <form method="post" class="w-full" id="form">
            <div class="w-full flex flex-row my-[10px]">
                <input type="text" id="fname" placeholder="First Name" name="fname" class="w-full h-[40px] mr-[10px] bg-[#312f2f] focus:bg-[#424040] focus:outline-none pl-[10px] placeholder:text-[#aeacac]" required>
                <input type="text" id="lname" placeholder="Last Name" name="lname" class="w-full h-[40px] bg-[#312f2f] focus:bg-[#424040] focus:outline-none pl-[10px] placeholder:text-[#aeacac]" required>
            </div>
            <input type="email" id="email" placeholder="Email-ID" name="email" class="w-full my-[10px] h-[40px] bg-[#312f2f] focus:bg-[#424040] focus:outline-none pl-[10px] placeholder:text-[#aeacac]" required>
            <div class="w-full flex flex-row my-[10px]">
                <input type="password" id="password" placeholder="Password" name="password" class="w-full h-[40px] bg-[#312f2f] focus:bg-[#424040] focus:outline-none pl-[10px] placeholder:text-[#aeacac]" oninput="passwordRetype()" required>
                <div class="ml-[10px] w-full" id="retype">
                    <input type="password" id="rpassword" placeholder="Retype Password" class="w-full h-[40px] bg-[#312f2f] focus:bg-[#424040] focus:outline-none pl-[10px] placeholder:text-[#aeacac]" oninput="passwordRetype()" required>
                </div>
            </div>
            <div id="nextpart"></div>
        </form>
    </div>
</main>