@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .select-none {
      user-select: none;
    }
  
    .select-text {
      user-select: text;
    }
  
    .select-all {
      user-select: all;
    }
  
    .select-auto {
      user-select: auto;
    }
  }

/*to-[#c32b2b]
bg-gradient-to-r from-[#1c0a02] via-[#451d0a] to-[#9c3303]
bg-gradient-to-r from-[#b07902]
*/