<main class="w-full">
    <div class="p-[20px] w-full text-[20px] text-white">
        <div class="mb-[20px] flex flex-col">
            Miscellaneous
            <div class="w-[60px] h-[4px] bg-red-700"></div>
        </div>
        <form action="/admin/dashboard/misc/del-default" method="post">
            <button type="submit" class="bg-[#1b1b1b] h-[60px] p-[10px] pl-[20px] hover:bg-[#232323] flex items-center shadow-md shadow-black mb-[20px] w-full">Delete Default Credentials</button>
        </form>
    </div>
</main>