<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="/stylesheet/main.css" rel="stylesheet">
</head>
<body class="bg-[#393939] scrollbar-thin scrollbar-track-[#2A2727] scrollbar-thumb-red-500 scrollbar-thumb-rounded-full">

    <div class="min-h-[calc(100vh-80px)]">


        <!--NAVBAR START-->
        <nav class="text-white bg-[#2A2727] w-auto flex justify-between border-b-[5px] border-red-500 py-[10px] mb-[20px]">
            <div class="w-20 bg-white rounded-full hover:bg-red-500 ml-[10px]">
                <a href="/"><img src="/images/monitor.png" alt="" class="px-3 py-3 cursor-pointer overflow-hidden"></a>
            </div>
            <div class="flex w-50 w-30 justify-end items-center pr-10">
                <ul class="flex ">
                    <li class="mx-2 cursor-pointer text-[20px] hover:text-red-500 "><a href="/products">Products</a></li>
                    <li class="mx-2 cursor-pointer text-[20px] hover:text-red-500 ">Become a Vendor</li>
                    <li class="mx-2 cursor-pointer text-[20px] hover:text-red-500 ">Employee Portal</li>
                    <li class="mx-2 cursor-pointer text-[20px] hover:text-red-500 ">Sign In</li>
                </ul>
            </div>
        </nav>
        <!--NAVBAR END-->


        <main class="w-auto mx-4">
            
        </main>

    </div>

    <!--FOOTER-->
    <footer class="text-white bg-[#2A2727] border-t-[5px] border-red-500 h-[80px] bottom-0 w-full">
        <p class="flex justify-center py-[20px] text-[20px]">Tybbaca Project</p>
    </footer>
    <!--FOOTER END-->

</body>
</html>