<main class="w-full p-[10px] pt-0 text-white">
    <div class="bg-[#1F1E1E] shadow-md shadow-black p-[10px] w-full flex justify-center flex-col items-center">
        <div class="text-[20px]">Approve Vendors</div>
    </div>
</main>
