<main class="w-full p-[10px]">
    <form action="/api/proxy/temp" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="images" accept=".jpg,.jpeg,.png" multiple>
        <button type="submit" class="bg-white w-fit h-fit">Submit</button>
    </form>
</main>