<main class="w-full">
    <div class="p-[20px] w-full text-[20px] text-white">
        <div class="mb-[20px] flex flex-col">
            Admin Dashboard
            <div class="w-[60px] h-[4px] bg-red-700"></div>
        </div>
        <a href="/admin/dashboard/manage-category">
            <div class="bg-[#1b1b1b] h-[60px] p-[10px] pl-[20px] hover:bg-[#232323] flex items-center shadow-md shadow-black mb-[20px]">Manage Categories</div>
        </a>
        <a href="/admin/dashboard/approve-vendor">
            <div class="bg-[#1b1b1b]  h-[60px] p-[10px] pl-[20px] hover:bg-[#232323] flex items-center shadow-md shadow-black mb-[20px]">Approve Vendors</div>
        </a>
        <a href="/admin/dashboard/add-new-admin">
            <div class="bg-[#1b1b1b] h-[60px] p-[10px] pl-[20px] hover:bg-[#232323] flex items-center shadow-md shadow-black mb-[20px]">Add New Administrators</div>
        </a>
        <a href="/admin/dashboard/misc">
            <div class="bg-[#1b1b1b] h-[60px] p-[10px] pl-[20px] hover:bg-[#232323] flex items-center shadow-md shadow-black mb-[20px]">Miscellaneous</div>
        </a>
    </div>
</main>