<main class="w-full flex justify-center">
    <div class="w-[500px] mx-[20px] px-[5px] bordergradient shadow-lg shadow-black overflow-hidden">
        <div class="w-full bg-white p-[30px]">
            <div class="text-[20px]">Admin Login</div>
            <form method="post" class="w-full" id="form">
                <div class="bordergradient w-full h-[43px] overflow-hidden my-[20px]">
                    <input type="text" id="username" placeholder="Username" name="username" class="formfield h-[40px]" required>
                </div>
                <div class="bordergradient w-full h-[43px] overflow-hidden my-[20px]">
                    <input type="email" id="email" placeholder="Email-ID" name="email" class="formfield h-[40px]" required>
                </div>
                <div class="bordergradient w-full h-[43px] overflow-hidden">
                    <input type="password" id="password" placeholder="Password" name="password" class="formfield  h-[40px]" required>
                </div>
                <div class="flex w-full mt-[20px] justify-center">
                    <button type="reset" class="style1button w-full h-[35px] mr-[20px]">Clear</button>
                    <button type="submit" class="style1button w-full h-[35px]">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>