<nav class="w-full text-white">
    <div class="w-full bg-black flex flex-row justify-between">
        <div class="flex flex-nowrap">
            <a href="/">
                <div class="w-fit flex flex-row items-center p-[10px] pl-[20px] select-none font-bold ">
                    <img src="/images/navbar/pcs-logo.png" alt="logo" class="h-[75px] w-[50px]">
                    <span class="text-[20px] ml-[10px] @850:hidden whitespace-nowrap" id="navbar-logo-text">PC Components Shopping</span>
                    <span class="text-[15px] ml-[10px] hidden @850:block @650:hidden" id="navbar-logo-text">PC<br>Components<br>Shopping</span>
                </div>
            </a>
            <% if (header != 'default') { %>
                <div class="w-[300px] @850:w-[250px] @650:w-[150px] @500:w-[120px] flex items-center">
                    <div class="text-[18px] font-bold line-clamp-1 border-l-[2px] border-red-600 pl-[10px] @500:text-[14px]"><%- username %></div>
                </div>
            <% } %>
        </div>
        <div class="flex items-center flex-nowrap">
            <div class="w-fit flex flex-row items-center">
                <% if (header === 'default' || header === 'user') { %>
                    <div class="text-white text-[20px] pr-[20px] @500:text-[17px]"><a href="/browse" class="hover:text-red-700">Browse Products</a></div>
                <% } %>
                <% if (header === 'default') { %>
                    <div class="text-white text-[20px] pr-[20px] mr-[20px] border-r-[1px] border-gray-50 @500:hidden"><a href="/login" class="bg-red-700 hover:bg-red-800 py-[5px] px-[10px] flex justify-center items-center text-black text-lg font-bold"><img src="/images/navbar/user.png" alt="userico" class="h-[30px] mr-[10px]">Log in</a></div>
                <% } %>
                <div class="relative">
                    <div>
                        <img src="/images/navbar/588a64e0d06f6719692a2d10.png" class=" mr-[20px] w-[30px] h-[30px] cursor-pointer" onmouseover="showList('options-menu-items')" onmouseleave="hideList('options-menu-items')">
                    </div>
                    <div id="options-menu-items" hidden onmouseover="showList('options-menu-items')" onmouseleave="hideList('options-menu-items')">
                        <div class="flex flex-col absolute w-[200px] right-0 pt-[10px] shadow-lg shadow-black cursor-pointer z-10">
                            <% if (header === 'default') { %>
                                <a href="/login" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white hidden @500:block">Log in</a>
                                <a href="/registration" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">New User? Register Here</a>
                                <a href="/vendor/login" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Vendor Login</a>
                                <a href="/vendor/registration" class="bg-[#1f1e1e] hover:bg-red-800 p-[10px] text-white">Become a Vendor</a>
                                <a href="/admin/login" class="bg-[#1f1e1e] hover:bg-red-800 p-[10px] text-white">Employee Portal</a>
                            <% } %>
                            <% if (header === 'user') { %>
                                <a href="/cart" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">View Cart</a>
                                <a href="/profile" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Manage Profile</a>
                                <a href="/logout" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Log out</a>
                            <% } %>
                            <% if (header === 'vendor') { %>
                                <a href="/vendor/profile" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Manage Profile</a>
                                <a href="/vendor/logout" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Log Out</a>
                            <% } %>
                            <% if (header === 'admin') { %>
                                <a href="/admin/logout" class="bg-[#1f1e1e] hover:bg-red-800  p-[10px] text-white">Log Out</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
