<main class="w-auto mx-4 flex justify-center flex-col items-center" >
    <form action="/search" method="post">
        <div class="w-full flex flex-row my-[20px] items-center justify-center">
            <div class="bordergradient w-[500px] h-[50px]">
                <input type="text" class="formfield rounded-lg h-[50px]" placeholder="Search for a product...">
            </div>
            <button type="submit" class="style1button w-auto h-[30px] p-[20px] ml-[10px]">Submit</button>
        </div>
    </form>
    <div class="w-[1000px] mx-[20px] px-[5px] bordergradient shadow-lg shadow-black overflow-hidden">
        <div class="w-full bg-white p-[30px]">
            <div class="text-[20px]">About us</div>
            <div class="flex flex-col">
                <div>Being India's first dedicated online store for computer components we have earned the loyalty and support of tech-enthusiasts and novice e-shoppers alike. Founded in 2000, the company started off as the brainchild of a group PC enthusiasts, who wanted computer components to be more readily available and at lower prices. Theitdepot grew quickly from its humble beginnings to become the site for overclockers and PC enthusiasts.Our website provides detailed specs, how-to's, customer reviews, and high resolution photo galleries.</div>
                <div>The itdepot has since moved into retail and operates a retail showroom to complement the online store for fast delivery and direct product tech support. We follow through on our commitment to exceptional customer service. Our tech support and service team members are available via phone, e-mail and online chat to ensure your utmost satisfaction.</div>
                <div>Whether you are a novice or a tech guru, you are sure to enjoy shopping at theitdepot.com. We work passionately to exceed your expectations every time.</div>
            </div>
        </div>
    </div>
</main>