<main class="w-full text-white">
    <div class="relative bg-black">
        <div class="w-full flex flex-col justify-center items-center relative @1290:pt-[20px]">
            <img src="/images/navbar/transparent-logo.png" alt="logo" draggable="false" class="@1290:hidden py-[20px]">
            <div class="w-[500px] text-center text-[22px] text-red-600 font-bold absolute top-[140px] left-[200px] cursor-default select-none @1290:static @500:w-[400px] @500:px-[5px]">Elevate Your Build, Simplify Your Upgrade: Your Trusted Source for Quality PC Components.</div>
        </div>
        <div class="w-full -1290:hidden flex flex-row justify-center items-center pt-[20px]">
            <img src="/images/navbar/pcs-logo.png" alt="logo" class="h-[100px]">
            <div class="ml-[10px] text-[25px] font-bold -650:hidden @500:text-[20px]">PC<br>Components<br>Shopping</div>
        </div>
        <div class="w-full absolute top-[220px] @1290:static p-[20px]">
            <form action="/search" method="get" autocomplete="off" class="w-full flex justify-center">
                <div class="w-[700px] flex flex-row h-[50px] shadow-lg shadow-black">
                    <input type="text" class="w-full p-[10px] pl-[20px] placeholder:text-[#aeacac] focus:outline-none truncate bg-gradient-to-r from-[#1e1e1e] via-[#191919] to-[#111111]" placeholder="Search for a product..." name="s" required id="prodQuery">
                    <button type="submit" class="w-fit px-[20px] py-[10px] bg-red-700 text-white hover:bg-red-800 flex justify-center items-center" id="srchbtn">Search</button>
                </div>
            </form>
        </div>
        <div class="bg-[#F6F6F6] flex flex-col text-black p-[20px]">
            <div class="text-[25px] flex flex-col mb-[20px]">
                Browse
                <div class="w-[60px] h-[4px] bg-red-700"></div>
            </div>

        </div>
    </div>
</main>

<!--
    <div id="gpu" class="w-[200px] h-[200px] hover:scale-[1.08] m-[5px] bg-black hover:shadow-lg hover:shadow-black relative">
                <img id="img" src="/images/newcats/gpu.jpg" alt="graphics-card" class="w-full h-full opacity-50 ">
                <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center p-[10px] opacity-80 hover:opacity-100 cursor-pointer hover:z-5 text-2xl font-bold" onmouseover="document.getElementById('gpu').querySelector('#img').style.opacity = '0.4'" onmouseout="document.getElementById('gpu').querySelector('#img').removeAttribute('style')">GRAPHICS CARD</div>
            </div>
    <div class="flex flex-row flex-wrap justify-center mt-[20px]">
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/cpu.png" alt="cpu" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/graphic-card.png" alt="gpu" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/hdd.png" alt="hdd" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/psu.png" alt="psu" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/motherboard.png" alt="motherboard" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/ram.png" alt="ram" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
            <div class="w-[150px] h-[150px] hover:bg-[#c80011] hover:border-[1px] hover:border-black p-[5px] m-[5px]">
                <img src="/images/categories/accessories.png" alt="accessories" class="w-full h-full">
            </div>
        </div>
-->